*{
    margin: 0;
    padding: 0;
}

header{
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 120px;
    height: 40px;
    margin-left: 17%;
    margin-top: 17px;
    cursor: pointer;
}

.header_btn{
    margin-right: 22%;
    margin-top: 20px;
}

#book_btn{
    padding: 6px 10px 6px 10px;
    background: none;
    border: 1px solid gray;
    border-radius: 5px;
    margin-right: 5px;
    font-weight: bold;
    cursor: pointer;
}

#book_btn:hover{
    background-color: rgb(226, 226, 226);
}

#login_btn{
    padding: 6px 10px 6px 10px;
    background: none;
    border: 1px solid blue;
    border-radius: 5px;
    color: blue;
    cursor: pointer;
}

#login_btn:hover{
    background-color: rgb(207, 240, 255);
}

#hambuger_btn{
    margin-left: 10px;
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
}

#hambuger_btn:hover{
    background-color: rgb(226, 226, 226);
}

main{
    top: 70px;
    height: 100%;
}

section{
    top: 70px;
    height: 460px;
    background-image: url(https://static.yeogi.com/_next/static/media/06_Kv_PC_Light_B.3f439e27.webp);
}

.img_text{
    position: absolute;
    font-size: 30px;
    top: 180px;
    color: white;
    margin-left: 17%;
}

.search_bar{
    position: absolute;
    background-color: white;
    width: 61%;
    height: 150px;
    margin-left: 17%;
    top: 250px;
    border-radius: 15px;
}

.search_text{
    margin-left: 10px;
    margin-top: 30px;
}

span{
    padding-left: 30px;
    cursor: pointer;
}

section input{
    margin-top: 25px;
    margin-left: 30px;
    width: 35%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(235, 235, 235);
    padding-left: 20px;
}

section input:hover{
    border: none;
    background-color: rgb(209, 209, 209);
}

.date{
    width: 18%;
    cursor: pointer;
}

.person{
    width: 22%;
    height: 50px;
    margin-left: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    padding-left: 20px;
}

.person:hover{
    background-color: rgb(209, 209, 209);
}

.search{
    width: 130px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 132, 255);
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-left: 15px;
}

.event_plus{
    width: 60%;
    height: 20%;
    margin-left: 17%;
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
}

.event{
    font-weight: bold;
}

.plus{
    text-decoration: none;
    color: blue;
}

.plus:hover{
    text-decoration: underline;
}

.event_img{
    width: 60%;
    margin-left: 18%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.ev_img{
    width: 350px;
    height: 130px;
    border-radius: 10px;
    background-color: rgb(212, 212, 212);
    cursor: pointer;
}

.travel_dest{
    position: absolute;
    margin-left: 17%;
    font-weight: bold;
    margin-top: 30px;
}

.tvd_img{
    width: 70%;
    margin-top: 4%;
    margin-left: 19%;
    display: flex;
    gap: 40px;
}

.td_img{
    width: 150px;
    height: 150px;
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
    cursor: pointer;
}

.td_img:hover{
    background-color: rgb(187, 187, 187);
}

.tvd_text{
    margin-left: 20%;
    display: flex;
    gap: 160px;
}

.td_text{
    list-style: none;
    font-size: 13px;
}

.benefit{
    margin-top: 2%;
    width: 59%;
    height: 150px;
    margin-left: 18%;
    background-color: rgb(220, 206, 255);
    border-radius: 15px;
}

.membership{
    font-size: 23px;
    padding-top: 2%;
    margin-left: 3%;
}

.benefit_nav{
    margin-top: 1%;
    margin-left: 2.5%;
}

.bf_login{
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(69, 128, 255);
    margin-right: 15px;
    cursor: pointer;
}

.bf_look{
    font-size: 13px;
    text-decoration: none;
    color: blue;
}

.bf_look:hover{
    text-decoration: underline;
}

.benefit_img{
    position: relative;
    width: 200px;
    height: 150px;
    margin-left: 80%;
    margin-top: -12%;
}